@tailwind base;
@tailwind components;
@tailwind utilities;

.alerts-border {
    border: 4px #ff0000 solid;
    animation: blink 0.5s;
    animation-iteration-count: 600;
}

@keyframes blink { 50% { border-color:#fff ; }  }